[user]
    name = Sangdon Park
    email = pravusid@gmail.com
    signingkey = 4B0A009C0CC438F4

[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    editor = vim
    pager = delta

[delta]
    line-numbers = true
    plus-style = syntax "#012800"
    minus-style = normal "#340001"
    syntax-theme = Nord

[interactive]
    diffFilter = delta --color-only

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[pull]
    rebase = true

[alias]
    a = "!git add $(git status -s | fzf -m | awk '{print $2}')"
    b = "!git checkout $(\
        _height=$(stty size | awk '{print $1}');\
        git branch | egrep -v '^\\*' | fzf --preview \"git log {1} | head -n $_height\";\
    )"
