[user]
    name = Sangdon Park
    email = 24415130+pravusid@users.noreply.github.com
    signingkey = D258EA8797558F10

[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    editor = vim
    pager = delta

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[merge]
    conflictstyle = zdiff3

[rebase]
    autostash = true

[pull]
    rebase = true

[diff]
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    plus-style = syntax "#012800"
    minus-style = normal "#340001"
    syntax-theme = Nord

[alias]
    a = "!git add $(git status -s | fzf -m | awk '{print $2}')"
    b = "!git checkout $(\
        _height=$(stty size | awk '{print $1}');\
        git branch | egrep -v '^\\*' | fzf --preview \"git log {1} | head -n $_height\";\
    )"
    d = "!\
        git diff --name-only |\
        fzf --header \"$(git diff --shortstat)\"\
            --preview \"git diff --color=always {1}\"\
            --preview-window=top:75%\
            --bind \"ctrl-u:preview-page-up,ctrl-d:preview-page-down\"\
    "
    l = "!\
        f() {\
            _hash=$(\
                git log --format=\"%H %ci %s%d\" |\
                fzf --no-sort |\
                head -1 |\
                cut -d \" \" -f 1\
            );\
            [[ ! -z "$_hash" ]] && git show "$_hash";\
        }; f\
    "
    blow = "!git restore . && git clean -fd"

[gt]
    exclude = main master develop dev staging

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
